In [16]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [17]:
loan=pd.read_csv(r'C:\Users\Chinthana\Desktop\Analytix Labs\Case Studies\Python\Basic Statistics - Hypothesis Testing\LoansData.csv')
loan

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [18]:
loan.dtypes

Amount.Requested                  float64
Amount.Funded.By.Investors        float64
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [19]:
loan.columns

Index(['Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [20]:
loan.columns=[var.replace('.', '_') for var in loan.columns]
loan.columns

Index(['Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length'],
      dtype='object')

In [21]:
loan[loan.Inquiries_in_the_Last_6_Months.isna()]

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
366,5000.0,4525.0,7.43%,36 months,other,1%,NY,NONE,NaN,800-804,NaN,NaN,NaN,< 1 year
1594,3500.0,225.0,10.28%,36 months,other,10%,NY,RENT,15000.00,685-689,NaN,NaN,NaN,< 1 year
2491,8475.0,8475.0,7.62%,36 months,debt_consolidation,15.88%,CA,RENT,3983.33,720-724,9.0,6882.0,NaN,NaN

In [22]:
loan['Interest_Rate']=loan.Interest_Rate.apply(lambda x:str(x).replace('%', '')).astype('float')
loan['Interest_Rate']

0        8.90
1       12.12
2       21.98
3        9.99
4       11.71
        ...
2495    16.77
2496    14.09
2497    13.99
2498    12.42
2499    13.79
Name: Interest_Rate, Length: 2500, dtype: float64

In [23]:
loan.dtypes

Amount_Requested                  float64
Amount_Funded_By_Investors        float64
Interest_Rate                     float64
Loan_Length                        object
Loan_Purpose                       object
Debt_To_Income_Ratio               object
State                              object
Home_Ownership                     object
Monthly_Income                    float64
FICO_Range                         object
Open_CREDIT_Lines                 float64
Revolving_CREDIT_Balance          float64
Inquiries_in_the_Last_6_Months    float64
Employment_Length                  object
dtype: object

In [24]:
loan['Debt_To_Income_Ratio']=loan.Debt_To_Income_Ratio.apply(lambda x:str(x).replace('%', '')).astype('float')
loan['Debt_To_Income_Ratio']

0       14.90
1       28.36
2       23.81
3       14.30
4       18.78
        ...
2495    19.23
2496    21.54
2497     4.89
2498    16.66
2499     6.76
Name: Debt_To_Income_Ratio, Length: 2500, dtype: float64

In [25]:
loan.dtypes

Amount_Requested                  float64
Amount_Funded_By_Investors        float64
Interest_Rate                     float64
Loan_Length                        object
Loan_Purpose                       object
Debt_To_Income_Ratio              float64
State                              object
Home_Ownership                     object
Monthly_Income                    float64
FICO_Range                         object
Open_CREDIT_Lines                 float64
Revolving_CREDIT_Balance          float64
Inquiries_in_the_Last_6_Months    float64
Employment_Length                  object
dtype: object

In [26]:
loan.Interest_Rate

0        8.90
1       12.12
2       21.98
3        9.99
4       11.71
        ...
2495    16.77
2496    14.09
2497    13.99
2498    12.42
2499    13.79
Name: Interest_Rate, Length: 2500, dtype: float64

In [27]:
loan.dtypes

Amount_Requested                  float64
Amount_Funded_By_Investors        float64
Interest_Rate                     float64
Loan_Length                        object
Loan_Purpose                       object
Debt_To_Income_Ratio              float64
State                              object
Home_Ownership                     object
Monthly_Income                    float64
FICO_Range                         object
Open_CREDIT_Lines                 float64
Revolving_CREDIT_Balance          float64
Inquiries_in_the_Last_6_Months    float64
Employment_Length                  object
dtype: object

In [28]:
loan.isna().sum()

Amount_Requested                   1
Amount_Funded_By_Investors         1
Interest_Rate                      2
Loan_Length                        0
Loan_Purpose                       0
Debt_To_Income_Ratio               1
State                              0
Home_Ownership                     1
Monthly_Income                     1
FICO_Range                         2
Open_CREDIT_Lines                  3
Revolving_CREDIT_Balance           3
Inquiries_in_the_Last_6_Months     3
Employment_Length                 77
dtype: int64

In [29]:
def miss(x):
    if x.dtype=='O':
        x= x.fillna(x.mode()[0])
    elif ((x.dtype=='float') | (x.dtype=='int')):
        x=x.fillna(x.mean())
    return x

In [30]:
loan=loan.apply(miss)

In [31]:
loan.isna().sum()

Amount_Requested                  0
Amount_Funded_By_Investors        0
Interest_Rate                     0
Loan_Length                       0
Loan_Purpose                      0
Debt_To_Income_Ratio              0
State                             0
Home_Ownership                    0
Monthly_Income                    0
FICO_Range                        0
Open_CREDIT_Lines                 0
Revolving_CREDIT_Balance          0
Inquiries_in_the_Last_6_Months    0
Employment_Length                 0
dtype: int64

In [32]:
loan['FICO']=loan.FICO_Range.str[0:3].astype('int')
loan['FICO']

0       735
1       715
2       690
3       695
4       695
       ...
2495    705
2496    740
2497    680
2498    675
2499    670
Name: FICO, Length: 2500, dtype: int32

In [33]:
# Question-1a: Relationship between Interest_Rate and Amount_Funded_By_Investors

#Type of samples: two independt samples
#objective: find the relationship
#Types of variables: both are numerical
#Type of Test: correlation test

#H0: S_corr = 0
#Ha: S_corr<>0

# Function is scipy.stats = stats.pearsonr()

# confidence levels = 95% confidence levels

#p-value<0.05 , reject null hypothesis

In [34]:
stats.pearsonr(loan.Interest_Rate, loan.Amount_Funded_By_Investors)

(0.33742660344157105, 1.2764840056932822e-67)

In [35]:
# conclusion: pvalue<0.05, so we can reject null and accept alternate hypothesis
# buisness conclusion: Interest_Rate is directly proportional to Amount_Funded_By_Investors .Hence the hypothesis, less interest is charged for high amounts is not proved
# Relationship : positive
# Strength of relationship : weak

In [36]:
#Question 1b - 

#Type of samples: independent samples
#Type of Test: indpendent t-test

#H0: Avg_36months_interest_rate = Avg_60months_interest_rate
#Ha: Avg_36months_interest_rate <> Avg_60months_interest_rate

# Function is scipy.stats = stats.ttest_ind

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [37]:
interest_36months=loan.Interest_Rate[loan.Loan_Length=='36 months']
interest_36months

0        8.90
1       12.12
3        9.99
4       11.71
5       15.31
        ...
2492    10.08
2494    14.65
2497    13.99
2498    12.42
2499    13.79
Name: Interest_Rate, Length: 1952, dtype: float64

In [38]:
interest_60months=loan.Interest_Rate[loan.Loan_Length=='60 months']
interest_60months

2       21.98
7       17.14
12      21.67
15      15.65
17      10.37
        ...
2472    22.45
2479    15.80
2493    23.28
2495    16.77
2496    14.09
Name: Interest_Rate, Length: 548, dtype: float64

In [39]:
stats.ttest_ind(interest_36months, interest_60months )

Ttest_indResult(statistic=-23.41049023613487, pvalue=9.549596064332559e-110)

In [40]:
#Conclusion: p<0.05, we can reject null given the confidnece levels
#Business conclusion: if the sample size is fine, there is no similarity in 36months interest rate & 60months interest rate i.e loan length is directly affecting interest rate

In [41]:
#Question-1c: different pupose of loans are similar or different in interest rate

#Type of samples: multiple independentt samples
#Type of Test: f-test

#H0: Avg_s1= Avg_s2 =Avg_s3.....Avg_sn
#Ha: one of the purpose of loans average is different from others

# Function is scipy.stats = stats.f_1way

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [42]:
loan.Loan_Purpose.value_counts()

debt_consolidation    1307
credit_card            444
other                  201
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: Loan_Purpose, dtype: int64

In [43]:
debt_interest=loan.Interest_Rate[loan.Loan_Purpose=='debt_consolidation']
debt_interest

0        8.90
1       12.12
2       21.98
3        9.99
6        7.90
        ...
2492    10.08
2494    14.65
2495    16.77
2497    13.99
2499    13.79
Name: Interest_Rate, Length: 1307, dtype: float64

In [44]:
credit_card_interest=loan.Interest_Rate[loan.Loan_Purpose=='credit_card']
credit_card_interest

4       11.710000
7       17.140000
8       14.330000
9        6.910000
18       9.760000
          ...
2463     7.900000
2467     7.290000
2476    14.090000
2478    11.710000
2484    13.065388
Name: Interest_Rate, Length: 444, dtype: float64

In [45]:
other_interest=loan.Interest_Rate[loan.Loan_Purpose=='other']
other_interest

5       15.31
28       8.59
48       7.49
51      17.44
57       9.99
        ...
2443    14.59
2450    14.79
2468     7.29
2486    17.27
2493    23.28
Name: Interest_Rate, Length: 201, dtype: float64

In [46]:
home_improvement_interest=loan.Interest_Rate[loan.Loan_Purpose=='home_improvement']
home_improvement_interest

37       7.62
39      12.49
40      17.27
69      14.09
88       7.51
        ...
2461     7.90
2462    11.49
2465     6.03
2466    22.47
2496    14.09
Name: Interest_Rate, Length: 152, dtype: float64

In [47]:
major_purchase_interest=loan.Interest_Rate[loan.Loan_Purpose=='major_purchase']
major_purchase_interest

45      11.86
95       6.62
152     10.75
163     10.16
175     10.38
        ...
2421     5.79
2432    11.49
2473    15.13
2475    14.09
2498    12.42
Name: Interest_Rate, Length: 101, dtype: float64

In [48]:
small_business_interest=loan.Interest_Rate[loan.Loan_Purpose=='small_business']
small_business_interest

92      15.81
104     10.65
110      7.90
117     14.09
136      6.62
        ...
2435    20.52
2454    18.64
2480     6.03
2482     7.51
2483    14.33
Name: Interest_Rate, Length: 87, dtype: float64

In [49]:
car_interest=loan.Interest_Rate[loan.Loan_Purpose=='car']
car_interest

22      17.99
33      15.80
35       7.90
86       8.90
176      7.90
292      6.03
346     17.04
370     14.09
389     14.09
394     19.72
418      6.91
539      7.49
574     10.59
590      6.99
638     11.83
696     13.43
789     11.71
891     13.67
904     13.99
941     13.47
960     11.71
984     11.12
1005     7.88
1016    10.00
1059    13.16
1079    13.23
1149    17.99
1192     6.62
1215     6.03
1325     6.03
1379     5.79
1410     8.90
1424     8.90
1496     9.25
1627     7.90
1633     7.62
1658     7.62
1707    17.14
1880     9.63
1921    13.11
1950     6.62
1985     7.49
1991    13.49
2011    10.36
2116    17.49
2209    18.25
2338     7.90
2402    13.93
2434    14.33
2444     6.62
Name: Interest_Rate, dtype: float64

In [50]:
wedding_interest=loan.Interest_Rate[loan.Loan_Purpose=='wedding']
wedding_interest

78      17.770000
273     15.270000
341      7.900000
361     16.490000
408      6.620000
429      9.910000
432      7.900000
453      7.620000
565     14.090000
642     10.370000
678      7.900000
693     13.720000
770     12.690000
808     10.250000
811     18.490000
821     12.980000
885      7.900000
931      9.990000
1064    13.110000
1288     7.620000
1291     8.000000
1313     7.900000
1319     9.910000
1345    12.120000
1370     5.420000
1482    14.420000
1483    12.840000
1705    15.310000
1904    12.120000
1964    17.880000
1965    12.420000
2035    11.860000
2124    13.110000
2206    15.310000
2222     9.630000
2272    16.290000
2366    12.210000
2472    22.450000
2487    13.065388
Name: Interest_Rate, dtype: float64

In [51]:
medical_interest=loan.Interest_Rate[loan.Loan_Purpose=='medical']
medical_interest

65       7.90
234     14.09
261     14.65
291     15.80
294     14.12
340      5.42
423      7.29
837     23.28
848      7.90
879     13.11
1250     6.03
1293     6.62
1309     7.62
1355     6.03
1576    13.11
1577     7.90
1582    16.29
1690    14.27
1779    13.57
1852     6.99
1854    14.22
1946    17.49
2000    10.59
2022     7.49
2038    19.69
2123     7.51
2182     6.54
2189    13.98
2238    13.99
2451    16.00
Name: Interest_Rate, dtype: float64

In [52]:
moving_interest=loan.Interest_Rate[loan.Loan_Purpose=='moving']
moving_interest

10      19.72
195      6.17
209     13.11
228     24.89
349     10.99
435      5.79
497     12.21
524     14.84
659     14.33
756     15.31
1046    11.71
1152     6.76
1183    11.83
1347    12.68
1420    10.75
1711    19.05
1729     7.88
1870    10.38
1929    23.76
1960    14.65
1974    17.49
2082    15.31
2106    14.83
2167    12.42
2251    14.22
2374     7.51
2383    19.72
2415    15.96
2469    10.74
Name: Interest_Rate, dtype: float64

In [53]:
vacation_interest=loan.Interest_Rate[loan.Loan_Purpose=='vacation']
vacation_interest

24      16.82
111      6.03
130      9.76
575      7.29
1006    12.12
1134    16.77
1141    13.98
1197     7.88
1200    18.39
1302    14.59
1308     5.42
1349    13.67
1688     8.94
1802    10.99
1806    11.49
1850    14.65
1895    15.80
1952     6.91
2033    17.56
2054     7.90
2367    14.33
Name: Interest_Rate, dtype: float64

In [54]:
house_interest=loan.Interest_Rate[loan.Loan_Purpose=='house']
house_interest

43      21.74
339     22.47
369     13.11
536     15.21
806      9.63
936      7.90
1035    14.96
1067     6.03
1114    15.96
1387    10.37
1389    21.67
1573    16.32
1607     6.62
1685    11.83
1823    16.82
2036    13.06
2197    13.06
2225     5.99
2387    12.12
2403    14.09
Name: Interest_Rate, dtype: float64

In [55]:
educational_interest=loan.Interest_Rate[loan.Loan_Purpose=='educational']
educational_interest

59       8.59
300     18.67
401     12.29
940     12.61
974     13.48
985      7.75
1137    14.61
1145     7.88
1348     6.76
1649     9.88
1686    13.75
1888    12.87
2028     7.40
2264     9.63
2310     8.94
Name: Interest_Rate, dtype: float64

In [56]:
renewable_energy_interest=loan.Interest_Rate[loan.Loan_Purpose=='renewable_energy']
renewable_energy_interest

160      6.92
289     10.36
1060     7.90
2246    14.33
Name: Interest_Rate, dtype: float64

In [57]:
stats.f_oneway(debt_interest, credit_card_interest, other_interest, home_improvement_interest, major_purchase_interest, small_business_interest, car_interest, wedding_interest, medical_interest, moving_interest, vacation_interest, house_interest, educational_interest, renewable_energy_interest)

F_onewayResult(statistic=7.4826387840974355, pvalue=1.1599665535989115e-14)

In [58]:
#Conclusion: p-value<0.05, we can reject null and accept alternative hypothesis.
#Business Conclusion: with 95% confidence we can say interest varies for diffrent purpose of loans

In [59]:
# Question 1d - There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores

#Type of samples: multiple independent samples
#Type of Test: f-test

#H0: Avg_s1= Avg_s2 =Avg_s3.....Avg_sn
#Ha: one of the average is different from others (avg of own_FICO is higher)

# Function is scipy.stats = stats.f_1way

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [60]:
loan.Home_Ownership.value_counts()

MORTGAGE    1148
RENT        1146
OWN          200
OTHER          5
NONE           1
Name: Home_Ownership, dtype: int64

In [61]:
MORTGAGE_FICO=loan.FICO[loan.Home_Ownership=='MORTGAGE']
MORTGAGE_FICO

0       735
1       715
2       690
3       695
7       705
       ...
2492    710
2493    675
2494    670
2495    705
2497    680
Name: FICO, Length: 1148, dtype: int32

In [62]:
RENT_FICO=loan.FICO[loan.Home_Ownership=='RENT']
RENT_FICO

4       695
6       720
8       685
9       715
10      670
       ...
2489    670
2490    710
2491    720
2498    675
2499    670
Name: FICO, Length: 1146, dtype: int32

In [63]:
OWN_FICO=loan.FICO[loan.Home_Ownership=='OWN']
OWN_FICO

5       670
34      675
54      680
59      755
73      665
       ...
2456    710
2465    755
2466    670
2486    665
2496    740
Name: FICO, Length: 200, dtype: int32

In [64]:
OTHER_FICO=loan.FICO[loan.Home_Ownership=='OTHER']
OTHER_FICO

294     655
978     675
1484    680
2102    670
2418    680
Name: FICO, dtype: int32

In [65]:
NONE_FICO=loan.FICO[loan.Home_Ownership=='NONE']
NONE_FICO

366    800
Name: FICO, dtype: int32

In [66]:
stats.f_oneway(MORTGAGE_FICO, RENT_FICO, OWN_FICO, OTHER_FICO, NONE_FICO )

F_onewayResult(statistic=19.330308155159962, pvalue=1.1227031714003807e-15)

In [67]:
OWN_FICO.value_counts()

665    18
660    17
670    13
705    12
700    12
675    11
710    10
685    10
695    10
690    10
680     9
745     7
730     7
755     6
735     6
725     5
750     4
760     4
740     4
765     3
780     3
775     3
800     3
785     2
715     2
805     2
795     1
790     1
720     1
770     1
820     1
810     1
640     1
Name: FICO, dtype: int64

In [68]:
RENT_FICO.value_counts()

680    91
670    91
695    75
665    75
675    75
690    75
660    67
685    65
720    64
700    59
705    56
710    47
715    45
725    41
730    41
735    29
750    25
740    23
745    21
760    14
755    12
765    11
775     6
795     5
785     5
780     4
770     4
640     4
790     4
805     3
655     3
810     2
645     2
800     2
Name: FICO, dtype: int64

In [89]:
RENT_FICO.mean()

700.0305410122164

In [95]:
RENT_FICO.std()

30.988431861368856

In [90]:
OWN_FICO.mean()

706.55

In [96]:
OWN_FICO.std()

39.834424899013875

In [91]:
MORTGAGE_FICO.mean()

711.6594076655052

In [97]:
MORTGAGE_FICO.std()

36.88874184593145

In [93]:
OTHER_FICO.mean()

672.0

In [94]:
NONE_FICO.mean()

800.0

In [71]:
#Conclusion: p<0.05, we can reject null hypothesis
#Business Conclusion:wityh 95% confidence , we can say Home_ownership is affecting FICO Scores but the hypothesis people with owning home have higher FICO scores is not proved

In [72]:
#Business Problem 2
price=pd.read_csv(r'C:\Users\Chinthana\Desktop\Analytix Labs\Case Studies\Python\Basic Statistics - Hypothesis Testing\Price_Quotes.csv')
price

    Order_Number  Barry_Price  Mary_Price
0              1          126         114
1              2          110         118
2              3          138         114
3              4          142         111
4              5          146         129
5              6          136         119
6              7           94          97
7              8          103         104
8              9          140         127
9             10          152         133
10            11          108         103
11            12           97         108

In [73]:
##Question-2: price quotes provided by Barry and Mary is same or not

#Type of samples: independt samples
#Type of Test: indpendent t-test

#H0: Avg_Barry_price = Avg_Marry_price
#Ha: Avg_Barry_price = Avg_Marry_price

# Function is scipy.stats = stats.ttest_ind

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [74]:
stats.ttest_ind(price['Barry_Price'], price['Mary_Price'])

Ttest_indResult(statistic=1.4147436739281787, pvalue=0.17114226132118285)

In [75]:
#Conclusion: p>0.05, we can't reject null hypothesis
#Business Conclusionn: with 95% confidence, we can conclude that there is no difference in the avg price quotes provided by Mary and Barry

In [77]:
#Businnes Problem - 3
treatment=pd.read_csv('Treatment_Facility.csv')
treatment

    Month Reengineer  Employee_Turnover       VAR4        VAR5
0       1      Prior             0.0000  24.390244   42.682927
1       2      Prior             6.0606  19.354839   25.806452
2       3      Prior            12.1212  35.087719  146.198830
3       4      Prior             3.3333  18.404908  110.429448
4       5      Prior            12.9032  17.964072   23.952096
5       6      Prior             9.6774  41.176471   47.058824
6       7      Prior            11.7647  13.422819    0.000000
7       8      Prior            11.4286  31.250000   25.000000
8       9      Prior            23.0769  17.241379  132.183908
9      10      Prior            15.0000  16.574586   16.574586
10     11      Prior            10.0000   5.917160   88.757396
11     12      Prior            26.0870  21.164021   31.746032
12     13      Prior            11.1111   5.076142   10.152284
13     14       Post            26.6667   9.708738   29.126214
14     15       Post            17.9487   4.201681   21.008403
15     16       Post            12.8205  13.043478   34.782609
16     17       Post            15.7895   9.950249   19.900498
17     18       Post             0.0000   9.950249    9.950249
18     19       Post            30.7692   8.510638   25.531915
19     20       Post            26.8293   9.259259   23.148148

In [ ]:
#Question 3: to test if the average of prior VAR5 and average of post VAR5 is same or not(to test if CI% improved or not)

#Type of samples: independent samples
#Type of Test: indpendent t-test

#H0: Avg_priorCI(%) = Avg_postCI(%)
#Ha: Avg_priorCI(%) <> Avg_postCI(%)

# Function is scipy.stats = stats.ttest_ind

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [79]:
treat_prior=treatment.VAR5[treatment.Reengineer=='Prior']
treat_prior

0      42.682927
1      25.806452
2     146.198830
3     110.429448
4      23.952096
5      47.058824
6       0.000000
7      25.000000
8     132.183908
9      16.574586
10     88.757396
11     31.746032
12     10.152284
Name: VAR5, dtype: float64

In [80]:
treat_post=treatment.VAR5[treatment.Reengineer=='Post']
treat_post

13    29.126214
14    21.008403
15    34.782609
16    19.900498
17     9.950249
18    25.531915
19    23.148148
Name: VAR5, dtype: float64

In [81]:
stats.ttest_ind(treat_prior, treat_post)

Ttest_indResult(statistic=1.6279144253528646, pvalue=0.12091989189884149)

In [ ]:
#conclusion: p>0.05, so we can't reject null hypothesis with 95% confidence level
#Businnes Conclusion: with 95% confidence , we can say critical incidence rate has not improved

In [88]:
#Question-4: number of days for high prioirty , medium priority and low priority jobs is same or different

#Type of samples: multiple independentt samples
#Type of Test: f-test

#H0: Avg_high= Avg_medium=Avg_low
#Ha: one of the prioirty average is different from others (Avg_high< Avg_medium< Avg_low)

# Function is scipy.stats = stats.f_1way

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [83]:
priority=pd.read_csv('Priority_Assessment.csv')
priority

     Days Priority
0     3.3     High
1     7.9   Medium
2     0.3     High
3     0.7   Medium
4     8.6   Medium
..    ...      ...
637   2.5      Low
638   0.3     High
639   0.3   Medium
640   1.3   Medium
641   0.5     High

[642 rows x 2 columns]

In [84]:
high=priority.Days[priority.Priority=='High']
high

0      3.3
2      0.3
5      0.3
6      0.3
7      0.3
      ...
631    0.3
632    1.0
635    0.1
638    0.3
641    0.5
Name: Days, Length: 326, dtype: float64

In [85]:
medium=priority.Days[priority.Priority=='Medium']
medium

1       7.9
3       0.7
4       8.6
9      15.9
11      0.3
       ...
633     2.0
634     2.5
636     0.1
639     0.3
640     1.3
Name: Days, Length: 249, dtype: float64

In [86]:
low=priority.Days[priority.Priority=='Low']
low

14     23.2
15      5.3
20      4.6
23      1.8
26     17.0
       ...
609     0.5
613     7.9
620     0.3
622     0.1
637     2.5
Name: Days, Length: 67, dtype: float64

In [87]:
stats.f_oneway(high, medium, low)

F_onewayResult(statistic=1.812311010076072, pvalue=0.16411459461716182)

In [713]:
#Conclusion: p>0.05, we can't reject null hypothesis
#Business Conclusion: with 95% confidence level, we can conclude there is no relationship between priority and days i.e average number of days for high, medium, low priority jobs are same

In [714]:
#5 Business Problem 5
films=pd.read_csv('Films.csv')
films

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1
326,0,Old School,1,1,2.0,2.0,2.0,2.0,3.0,3.0,5
327,0,Old School,2,1,2.0,1.0,1.0,2.0,2.0,2.0,5
328,0,Old School,1,1,1.0,1.0,1.0,1.0,2.0,1.0,3
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5

In [715]:
films.dtypes

_rowstate_          int64
Movie              object
Gender             object
Marital_Status     object
Sinage            float64
Parking           float64
Clean             float64
Overall           float64
Age               float64
Income            float64
Hear_About         object
dtype: object

In [716]:
films.isna().sum()

_rowstate_         0
Movie              0
Gender             0
Marital_Status     2
Sinage             2
Parking            2
Clean              3
Overall            2
Age                2
Income            16
Hear_About         7
dtype: int64

In [717]:
films['Age']=films.Age.fillna(films.Age.mode()[0])
films['Age']

0      3.0
1      2.0
2      4.0
3      4.0
4      3.0
      ...
325    2.0
326    3.0
327    2.0
328    2.0
329    2.0
Name: Age, Length: 330, dtype: float64

In [718]:
films['Income']=films.Income.fillna(films.Income.mode()[0])
films['Income']

0      1.0
1      1.0
2      1.0
3      1.0
4      3.0
      ...
325    1.0
326    3.0
327    2.0
328    1.0
329    1.0
Name: Income, Length: 330, dtype: float64

In [719]:
films.isna().sum()

_rowstate_        0
Movie             0
Gender            0
Marital_Status    2
Sinage            2
Parking           2
Clean             3
Overall           2
Age               0
Income            0
Hear_About        7
dtype: int64

In [720]:
films=films.apply(miss)
films

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1
326,0,Old School,1,1,2.0,2.0,2.0,2.0,3.0,3.0,5
327,0,Old School,2,1,2.0,1.0,1.0,2.0,2.0,2.0,5
328,0,Old School,1,1,1.0,1.0,1.0,1.0,2.0,1.0,3
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5

In [721]:
films.isna().sum()

_rowstate_        0
Movie             0
Gender            0
Marital_Status    0
Sinage            0
Parking           0
Clean             0
Overall           0
Age               0
Income            0
Hear_About        0
dtype: int64

In [722]:
#Business Problem 5a : to find the overall customer staisfaction at populaiton level

#Confidence Level : 95% confidence

#CL: (mean-1.96*std, mean+1.96*std)

In [723]:
mean_overall=films.Overall.mean()
mean_overall

1.6189024390243902

In [724]:
stdev=films.Overall.std()
stdev

0.6871880168119916

In [725]:
SE=stdev/np.sqrt(330)
SE

0.03782845531695236

In [726]:
CL=(mean_overall-1.96*(SE), mean_overall+1.96*(SE))
CL

(1.5447586666031636, 1.6930462114456168)

In [727]:
#Conclusion : Overall customer satisfaction lies between 1.54 and 1.69 i.e it is good

In [728]:
#5b : to check if satisfaction is same or different for males and females

#Type of samples: independent samples
#Type of Test: indpendent t-test

#H0: Avg_male_satisfaction = Avg_female_satisfaction
#Ha: Avg_male_satisfaction <> Avg_female_satisfaction

# Function is scipy.stats = stats.ttest_ind

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [729]:
films['Sinage']=films.Sinage.astype('int')

In [730]:
films['Parking']=films.Parking.astype('int')

In [731]:
films['Clean']=films.Clean.astype('int')

In [732]:
films['Overall']=films.Overall.astype('int')

In [733]:
films['Age']=films.Age.astype('str')
films['Age']

0      3.0
1      2.0
2      4.0
3      4.0
4      3.0
      ...
325    2.0
326    3.0
327    2.0
328    2.0
329    2.0
Name: Age, Length: 330, dtype: object

In [734]:
films['Income']=films.Income.astype('str')
films['Income']

0      1.0
1      1.0
2      1.0
3      1.0
4      3.0
      ...
325    1.0
326    3.0
327    2.0
328    1.0
329    1.0
Name: Income, Length: 330, dtype: object

In [735]:
films.dtypes

_rowstate_         int64
Movie             object
Gender            object
Marital_Status    object
Sinage             int32
Parking            int32
Clean              int32
Overall            int32
Age               object
Income            object
Hear_About        object
dtype: object

In [736]:
films.Gender.value_counts()

2         194
1         104
Female     19
Male       13
Name: Gender, dtype: int64

In [737]:
films['Gender']=np.where(films.Gender=='Male', '1',films['Gender'])
films['Gender']

0      Female
1      Female
2           1
3      Female
4      Female
        ...
325         2
326         1
327         2
328         1
329         2
Name: Gender, Length: 330, dtype: object

In [738]:
films['Gender']=np.where(films.Gender=='Female', '2',films['Gender'])
films['Gender']

0      2
1      2
2      1
3      2
4      2
      ..
325    2
326    1
327    2
328    1
329    2
Name: Gender, Length: 330, dtype: object

In [739]:
films.Gender.value_counts()

2    213
1    117
Name: Gender, dtype: int64

In [740]:
male_overall=films.Overall[films.Gender=='1']
male_overall

2      2
6      2
10     2
13     5
14     1
      ..
319    1
323    2
324    1
326    2
328    1
Name: Overall, Length: 117, dtype: int32

In [741]:
female_overall=films.Overall[films.Gender=='2']
female_overall

0      2
1      1
3      2
4      1
5      1
      ..
321    1
322    1
325    1
327    2
329    1
Name: Overall, Length: 213, dtype: int32

In [742]:
stats.ttest_ind(male_overall, female_overall)

Ttest_indResult(statistic=1.3425610264193486, pvalue=0.18034257012874402)

In [743]:
#Conclsuion: p>0.05, we can't reject null hypothesis
#Business Conlcusion: with 95% confidence , we can say gender is not affecting overall customer satisfaction

In [744]:
#5b: to check if satisfaction is same or different for different marital status

#Type of samples: independent samples
#Type of Test: indpendent t-test

#H0: Avg_married_satisfaction = Avg_singlesatisfaction
#Ha: Avg_married_satisfaction <> Avg_single_satisfaction

# Function is scipy.stats = stats.ttest_ind

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [745]:
films.Marital_Status.value_counts()

2          210
1           88
Single      18
Married     12
Slngle       2
Name: Marital_Status, dtype: int64

In [746]:
films['Marital_Status']=np.where(films.Marital_Status=='Married', '1', films['Marital_Status'])
films['Marital_Status']

0           1
1      Single
2           1
3           1
4           1
        ...
325         2
326         1
327         1
328         1
329         2
Name: Marital_Status, Length: 330, dtype: object

In [747]:
films['Marital_Status']=np.where(films.Marital_Status=='Single', '2', films['Marital_Status'])
films['Marital_Status']

0      1
1      2
2      1
3      1
4      1
      ..
325    2
326    1
327    1
328    1
329    2
Name: Marital_Status, Length: 330, dtype: object

In [748]:
films['Marital_Status']=np.where(films.Marital_Status=='Slngle', '2', films['Marital_Status'])
films['Marital_Status']

0      1
1      2
2      1
3      1
4      1
      ..
325    2
326    1
327    1
328    1
329    2
Name: Marital_Status, Length: 330, dtype: object

In [749]:
films.Marital_Status.value_counts()

2    230
1    100
Name: Marital_Status, dtype: int64

In [750]:
married_satisfaction=films.Overall[films.Marital_Status=='1']
married_satisfaction

0      2
2      2
3      2
4      1
5      1
      ..
317    1
321    1
326    2
327    2
328    1
Name: Overall, Length: 100, dtype: int32

In [751]:
single_satisfaction=films.Overall[films.Marital_Status=='2']
single_satisfaction

1      1
7      1
8      1
9      2
12     1
      ..
322    1
323    2
324    1
325    1
329    1
Name: Overall, Length: 230, dtype: int32

In [752]:
stats.ttest_ind(married_satisfaction, single_satisfaction)

Ttest_indResult(statistic=-0.7846470450359802, pvalue=0.4332268662534605)

In [753]:
#Conclsuion: p>0.05, we can't reject null hypothesis
#Business Conlcusion: with 95% confidence , we can say marital status is not affecting overall customer satisfaction

In [754]:
#Question-5c: satisfaction for different age groups is same or different

#Type of samples: multiple independentt samples
#Type of Test: f-test

#H0: Avg_s1= Avg_s2 =Avg_s3.....Avg_sn
#Ha: one of the average is different from others

# Function is scipy.stats = stats.f_1way

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [755]:
films['Age']=films.Age.apply (lambda x:str(x).replace('.', '').replace('0', ''))
films['Age']

0      3
1      2
2      4
3      4
4      3
      ..
325    2
326    3
327    2
328    2
329    2
Name: Age, Length: 330, dtype: object

In [756]:
films.Age.value_counts()

2    177
3    117
1     26
4     10
Name: Age, dtype: int64

In [757]:
age1_overall=films.Overall[films.Age=='1']
age1_overall

19     1
35     1
37     1
58     1
60     2
72     2
73     2
77     2
80     1
102    3
128    1
130    5
142    2
148    1
164    1
167    1
175    2
182    1
183    1
185    1
221    1
227    2
241    1
255    2
301    1
314    1
Name: Overall, dtype: int32

In [758]:
age2_overall=films.Overall[films.Age=='2']
age2_overall

1      1
13     5
14     1
15     1
16     2
      ..
324    1
325    1
327    2
328    1
329    1
Name: Overall, Length: 177, dtype: int32

In [759]:
age3_overall=films.Overall[films.Age=='3']
age3_overall

0      2
4      1
5      1
6      2
7      1
      ..
312    2
317    1
318    1
321    1
326    2
Name: Overall, Length: 117, dtype: int32

In [760]:
age4_overall=films.Overall[films.Age=='4']
age4_overall

2      2
3      2
10     2
11     2
27     1
88     2
117    1
194    2
195    2
268    1
Name: Overall, dtype: int32

In [761]:
stats.f_oneway(age1_overall, age2_overall, age3_overall, age4_overall)

F_onewayResult(statistic=0.8685103962920061, pvalue=0.4576391632435566)

In [762]:
#Conclsuion: p>0.05, we can't reject null hypothesis
#Business Conlcusion: with 95% confidence , we can say age is not affecting overall customer satisfaction

In [763]:
#Question-5c: satisfaction for different income groups is same or different

#Type of samples: multiple independentt samples
#Type of Test: f-test

#H0: Avg_s1= Avg_s2 =Avg_s3.....Avg_sn
#Ha: one of the average is different from others

# Function is scipy.stats = stats.f_1way

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [764]:
films['Income']=films.Income.apply (lambda x:str(x).replace('.', '').replace('0', ''))
films['Income']

0      1
1      1
2      1
3      1
4      3
      ..
325    1
326    3
327    2
328    1
329    1
Name: Income, Length: 330, dtype: object

In [765]:
films.dtypes

_rowstate_         int64
Movie             object
Gender            object
Marital_Status    object
Sinage             int32
Parking            int32
Clean              int32
Overall            int32
Age               object
Income            object
Hear_About        object
dtype: object

In [766]:
films.Income.value_counts()

1    158
3     90
2     82
Name: Income, dtype: int64

In [767]:
income1=films.Overall[films.Income=='1']
income1

0      2
1      1
2      2
3      2
7      1
      ..
322    1
324    1
325    1
328    1
329    1
Name: Overall, Length: 158, dtype: int32

In [768]:
income2=films.Overall[films.Income=='2']
income2

13     5
15     1
30     2
31     1
32     1
      ..
311    1
312    2
315    1
317    1
327    2
Name: Overall, Length: 82, dtype: int32

In [769]:
income3=films.Overall[films.Income=='3']
income3

4      1
5      1
6      2
17     3
18     2
      ..
314    1
316    2
321    1
323    2
326    2
Name: Overall, Length: 90, dtype: int32

In [770]:
stats.f_oneway(income1, income2, income3)

F_onewayResult(statistic=0.10258250146166224, pvalue=0.9025327205555762)

In [771]:
#Conclsuion: p>0.05, and we can't reject null hypothesis
#Business Conlcusion:p values is close to 1.0, so  with 95% confidence , we can say averages of all income groups satisfaction are almost same

In [ ]:
#Question-5c: satisfaction for different Hear_Abouts is same or different

#Type of samples: multiple independentt samples
#Type of Test: f-test

#H0: Avg_s1= Avg_s2 =Avg_s3.....Avg_sn
#Ha: one of the average is different from others

# Function is scipy.stats = stats.f_1way

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [772]:
films.Hear_About.value_counts()

5      233
4       41
1       22
3       14
2       12
2,5      2
3,4      2
4,5      1
1,5      1
5,4      1
3,5      1
Name: Hear_About, dtype: int64

In [776]:
hear5=films.Overall[films.Hear_About=='5']
hear5

0      2
1      1
2      2
3      2
5      1
      ..
323    2
324    1
326    2
327    2
329    1
Name: Overall, Length: 233, dtype: int32

In [777]:
hear4=films.Overall[films.Hear_About=='4']
hear4

7      1
8      1
9      2
15     1
27     1
30     2
88     2
89     2
93     2
96     1
97     1
99     1
103    1
107    2
110    2
122    1
135    3
142    2
143    2
144    2
150    1
159    2
180    2
183    1
187    1
188    2
192    2
198    3
200    2
204    2
206    2
215    2
216    2
229    1
235    2
244    1
270    1
273    3
279    1
289    1
316    2
Name: Overall, dtype: int32

In [778]:
hear3=films.Overall[films.Hear_About=='3']
hear3

25     2
26     2
75     2
117    1
154    1
164    1
165    1
166    1
167    1
202    1
203    2
258    1
267    1
328    1
Name: Overall, dtype: int32

In [779]:
hear2=films.Overall[films.Hear_About=='2']
hear2

23     1
34     2
54     2
101    1
184    1
205    1
240    1
241    1
308    2
318    1
319    1
321    1
Name: Overall, dtype: int32

In [780]:
hear1=films.Overall[films.Hear_About=='1']
hear1

4      1
10     2
12     1
20     2
21     2
31     1
32     1
78     1
79     2
95     1
98     3
126    2
130    5
148    1
157    2
194    2
209    1
237    2
265    2
266    3
288    2
325    1
Name: Overall, dtype: int32

In [782]:
hear2_5=films.Overall[((films.Hear_About=='2') | (films.Hear_About=='5'))]
hear2_5

0      2
1      1
2      2
3      2
5      1
      ..
323    2
324    1
326    2
327    2
329    1
Name: Overall, Length: 245, dtype: int32

In [783]:
hear3_4=films.Overall[((films.Hear_About=='3') | (films.Hear_About=='4'))]
hear3_4

7      1
8      1
9      2
15     1
25     2
26     2
27     1
30     2
75     2
88     2
89     2
93     2
96     1
97     1
99     1
103    1
107    2
110    2
117    1
122    1
135    3
142    2
143    2
144    2
150    1
154    1
159    2
164    1
165    1
166    1
167    1
180    2
183    1
187    1
188    2
192    2
198    3
200    2
202    1
203    2
204    2
206    2
215    2
216    2
229    1
235    2
244    1
258    1
267    1
270    1
273    3
279    1
289    1
316    2
328    1
Name: Overall, dtype: int32

In [784]:
hear4_5=films.Overall[((films.Hear_About=='4') | (films.Hear_About=='5'))]
hear4_5

0      2
1      1
2      2
3      2
5      1
      ..
323    2
324    1
326    2
327    2
329    1
Name: Overall, Length: 274, dtype: int32

In [785]:
hear1_5=films.Overall[((films.Hear_About=='1') | (films.Hear_About=='5'))]
hear1_5

0      2
1      1
2      2
3      2
4      1
      ..
324    1
325    1
326    2
327    2
329    1
Name: Overall, Length: 255, dtype: int32

In [787]:
hear5_4=films.Overall[((films.Hear_About=='5') | (films.Hear_About=='4'))]
hear5_4

0      2
1      1
2      2
3      2
5      1
      ..
323    2
324    1
326    2
327    2
329    1
Name: Overall, Length: 274, dtype: int32

In [786]:
hear3_5=films.Overall[((films.Hear_About=='3') | (films.Hear_About=='5'))]
hear3_5

0      2
1      1
2      2
3      2
5      1
      ..
324    1
326    2
327    2
328    1
329    1
Name: Overall, Length: 247, dtype: int32

In [788]:
films.Hear_About.value_counts()

5      233
4       41
1       22
3       14
2       12
2,5      2
3,4      2
4,5      1
1,5      1
5,4      1
3,5      1
Name: Hear_About, dtype: int64

In [790]:
stats.f_oneway(hear5, hear4, hear1, hear3, hear2, hear2_5, hear3_4, hear4_5, hear1_5, hear5_4, hear3_5 )

F_onewayResult(statistic=1.0174812583331834, pvalue=0.42586466125650074)

In [791]:
#Conclusion: p>0.05, and we can't reject null hypothesis
#Business Conlcusion:with 95% confidence , we can say there is no effect of Hear_About on overall customer satisfaction

In [ ]:
# Question-5b: Relationship between Sinage and overall customer satisfaction

#Type of samples: two independt samples
#objective: find the relaitonship
#Types of variables: both are numerical
#Type of Test: correlation test

#H0: S_corr = 0
#Ha: S_corr<>0

# Function is scipy.stats = stats.pearsonr()

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [797]:
stats.pearsonr(films.Sinage, films.Overall)

(0.3855492679231839, 3.8746943026879733e-13)

In [ ]:
#Conclusion: p<0.05, and we can reject null hypothesis and accept alernate hypotheis
#Business Conlcusion:with 95% confidence , we can say there is effect of Sinage on overall customer satisfaction

In [ ]:
# Question-5b: Relationship between Parking and overall customer satisfaction

#Type of samples: two independt samples
#objective: find the relaitonship
#Types of variables: both are numerical
#Type of Test: correlation test

#H0: S_corr = 0
#Ha: S_corr<>0

# Function is scipy.stats = stats.pearsonr()

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [798]:
stats.pearsonr(films.Parking, films.Overall)

(0.5165212246697672, 6.669414459895692e-24)

In [ ]:
#Conclusion: p<0.05, and we can reject null hypothesis and accept alernate hypotheis
#Business Conlcusion:with 95% confidence , we can say there is effect of parking on overall customer satisfaction

In [ ]:
# Question-5b: Relationship between Clean and overall customer satisfaction

#Type of samples: two independent samples
#objective: find the relaitonship
#Types of variables: both are numerical
#Type of Test: correlation test

#H0: S_corr = 0
#Ha: S_corr<>0

# Function is scipy.stats = stats.pearsonr()

# confidence levels = 95% confidence levels

#p-value<0.05 to reject null hypothesis

In [799]:
stats.pearsonr(films.Clean, films.Overall)

(0.35050625754056075, 5.6725221807862186e-11)

In [ ]:
#Conclusion: p<0.05, we can reject null hypothesis and accept alernate hypotheis
#Business Conlcusion:with 95% confidence , we can say there is effect of Clean on overall customer satisfaction

In [807]:
films.Gender.value_counts()

2    213
1    117
Name: Gender, dtype: int64

In [847]:
films.Gender.value_counts()/films.Gender.value_counts().sum()

2    0.645455
1    0.354545
Name: Gender, dtype: float64

In [816]:
films.Marital_Status.value_counts()

2    230
1    100
Name: Marital_Status, dtype: int64

In [845]:
films.Marital_Status.value_counts()/films.Marital_Status.value_counts().sum()

2    0.69697
1    0.30303
Name: Marital_Status, dtype: float64

In [821]:
films.Age.value_counts()

2    177
3    117
1     26
4     10
Name: Age, dtype: int64

In [846]:
films.Age.value_counts()/films.Age.value_counts().sum()

2    0.536364
3    0.354545
1    0.078788
4    0.030303
Name: Age, dtype: float64

In [829]:
films.Income.value_counts()

1    158
3     90
2     82
Name: Income, dtype: int64

In [848]:
films.Income.value_counts()/films.Income.value_counts().sum()

1    0.478788
3    0.272727
2    0.248485
Name: Income, dtype: float64

In [ ]:
#5d - In what media outlet(s) should the film series be advertised?

In [844]:
films.Hear_About.value_counts()

5      233
4       41
1       22
3       14
2       12
2,5      2
3,4      2
4,5      1
1,5      1
5,4      1
3,5      1
Name: Hear_About, dtype: int64

In [843]:
films.Hear_About.value_counts()/films.Hear_About.value_counts().sum()

5      0.706061
4      0.124242
1      0.066667
3      0.042424
2      0.036364
2,5    0.006061
3,4    0.006061
4,5    0.003030
1,5    0.003030
5,4    0.003030
3,5    0.003030
Name: Hear_About, dtype: float64

In [ ]:
#Conclusion : through word of mouth,film series should be advertised